* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.menu {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    padding: 40px;
    word-spacing: 50px;
    letter-spacing: 5px;
    font-family: Roboto;
}
a {
    color:  #16a085;
    text-transform: uppercase;
    text-decoration: none;
}
.image {
    background-image: url(../img/9111180451_src_main_frontend_html_cs.jpg);
    width: 1280px;
    height: 800px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.content {
    background: whitesmoke;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    font-family: Roboto;
    color:  #373737;
    padding: 40px;
    line-height: 2;
    font-weight: bolder;
}
h1 {
    text-transform: uppercase;
}
.button {
    border-radius: 5px;
    color: white;
    background-color:  #1ABF9F;
    padding: 15px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}
.footer {
    font-weight: bolder;
    font-family: Roboto;
    letter-spacing: 2px;
    color:  #373737;
    text-align: right;
    padding: 40px;
    width: 1280px;
}
  